body {
    background: #f7f7f7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #673AB7;
    padding: 20px;
    color: white;
    text-align: center;
}

.container {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-gap: 20px;
}

h2 {
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    background: #673AB7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #5E35B1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin-bottom: 6px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

#timer {
    font-size: 32px;
    text-align: center;
    padding: 10px;
}
